body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Tambahkan di App.css atau file CSS utama Anda */
.text-pink {
  color: #ff69b4;
}

.bg-black {
  background-color: #000 !important;
}

/* Style untuk form */
.bg-dark.text-white::placeholder {
  color: #ccc !important;
}
